config/dev.yml
config/private.yml
config/settings.yml
releases/**/*.tgz
release
dev_releases
blobs/*
.blobs
.dev_builds
.vagrant
.idea
.DS_Store
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
*.swp
*~
*#
#*
tmp
*credentials.yml

ci/bin/update_pipeline_local.sh
src/influxdb/*.deb
src/influxdb/influxdb*/

my*.yml
